.footernav-container {
    width: 100%;
    height: 150px;
}

.footernav-wrapper {
    display: flex;
   
    align-items: flex-end;
}

.footernav-coffee {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
}

.footernav-item {
    font-size: 12px;
    line-height: 17px;
    color: black;
    margin-right: 40px;
}

.footernav-img-wrapeer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 40px;
}